<div class="container mt-5 text-center">
  <h1 class="text-success mb-4">ご予約が完了しました 🎉</h1>
  <p class="lead">お気をつけてお越しください☺️</p>
  <%= link_to "トップページへ戻る", root_path, class: "btn btn-primary mt-4" %>
</div>