@import "calendar";


/* トップページの画像 */
.carousel-item {
  position: relative;
}

.carousel-caption-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  padding: 0 1rem;
}

.carousel-image {
  width: 100%;
  height: 470px;
  object-fit: cover;
}

/* ナビバー */
.nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 4px; /* 下線のため少し余白調整 */

  &::after {
    content: "";
    position: absolute;
    left: 50%;            /* 真ん中に開始位置 */
    bottom: 0;
    height: 2px;          /* 下線の太さ */
    width: 0;
    background-color: #888888;
    transition: width 0.3s ease, left 0.3s ease;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
    left: 0;               /* 左端に戻す */
  }
}

