.simple-calendar {
  .day {}

  .wday-0 { background-color: #f8d7da } // 日曜
  .wday-6 { background-color: #d1ecf1 } // 土曜

  .prev-month a,
  .next-month a {
    display: none;
  }

  .calendar-heading {
    text-align: center;
  }

  .calendar-title {
    font-weight: bold;
    font-size: 32px;
  }
}